/* Generic styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
    color: #6A6A6A;
  }

.flex {
    display: flex;
    width: 100%;
}


/* Header & footer */
header, footer {
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 115px;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

/* Logo & Contact Us*/
.logo {
    width: 40vw;
    height: 20vw;
}

#logo-container, #contact-us {
    margin: 25px 18px;
}

#contact-us {
    font-size: 22px;
    color: #5EAB95;
    border: 3px solid #5EAB95;
    border-radius: 15px;
    padding: 7px;
}