/* Generic styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
    color: #6A6A6A;
  }

.flex {
    display: flex;
    width: 100%;
}

/* Body Background */
.body-background {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.background-half-white {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
}

.background-half-green {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #96D9C6;
}

/* Header */
header {
    top: 0;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 115px;
    background-color: white;
}

/* Logo & Contact Us*/
.logo {
    width: 40vw;
    height: 20vw;
}

#logo-container, #contact-us {
    margin: 25px 18px;
}

#contact-us {
    font-size: 22px;
    color: #5EAB95;
    border: 3px solid #5EAB95;
    border-radius: 15px;
    padding: 7px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 115px;
    background-color: white;
}

#footer-icon-list {
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.social-links {
    list-style: none;
}

.social-links a {
    font-size: 35px;
}