/* Generic styles */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
    color: #6A6A6A;
  }

.flex {
    display: flex;
    width: 100%;
}


/* Header & footer */
header, footer {
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 115px;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}